@import "tailwindcss";

@theme {
  --color-industrial-black: 28 26 29;
  --color-off-white: 246 245 242;
  --color-neutral-grey: 215 216 216;
  --color-engineering-red: 238 43 51;
  --color-slate-grey: 93 94 96;
  --color-blueprint-blue: 93 94 96;
}